@use "variables" as v;

/* Media queries */

@mixin telefono {
    @media (min-width: v.$telefono) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}

@mixin desktopXL {
    @media (min-width: v.$desktopXL) {
        @content;
    }
}

/* CSS Grid por columnas */
@mixin grid($cols, $gap) {
    display: grid;
    grid-template-columns: repeat($cols, 1fr);
    gap: $gap;
}

/* quitar formato de listas */
@mixin resetear-lista {
    margin: 0;
    padding: 0;
    list-style: none;
}
