:root {
  --blanco: #ffffff;
  --oscuro: #212121;
  --primario: #ffc107;
  --secundario: #0097a7;
  --gris: #757575;
  --gris-claro: #dfe9e3;
}

/* hack de ajuste de dimensiones en rem con html y body (para lograr: 1rem = 10px) */
html {
  font-size: 62.5%; /* font-size base a nivel de html */
  box-sizing: border-box;
  scroll-snap-type: y proximity; /* ajuste del scroll vertical */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 16px; /* font-size base a nivel del documento */
  font-family: "Krub", sans-serif;
  background-image: linear-gradient(
    to top,
    var(--gris-claro) 0%,
    var(--blanco) 100%
  );
}

/* botones */
.boton {
  background-color: var(--secundario);
  color: var(--blanco);
  padding: 1rem 3rem;
  margin-top: 1rem;
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 0.5rem;
  text-align: center;
  width: 90%;
  border: none;
}
@media (min-width: 768px) {
  .boton {
    width: auto;
  }
}
.boton:hover {
  cursor: pointer;
}

.sombra {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.54);
  -moz-box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.54);
  box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.54);
}

.seccion-principal {
  background-color: var(--blanco);
  padding: 2rem;
  border-radius: 1rem;
}

/* Tipografía */
h1 {
  font-size: 3.8rem;
}
h2 {
  font-size: 2.8rem;
}
h3 {
  font-size: 1.8rem;
}
h1,
h2,
h3 {
  text-align: center;
}

/* utilidades */
.w-sm-100 {
  width: 100%;
}
@media (min-width: 768px) {
  .w-sm-100 {
    width: auto;
  }
}
.flex {
  display: flex;
}
.alinear-derecha {
  justify-content: flex-end;
}

/* Título principal del sitio web */
.titulo span {
  font-size: 2rem;
}

/* Contenedor */
.contenedor {
  max-width: 120rem;
  /* margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto; */
  margin: 0 auto;
}

/* Barra de navegación */

.nav-bg {
  background-color: var(--secundario);
}

.navegacion-principal {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .navegacion-principal {
    flex-direction: row;
    justify-content: space-between;
  }
}

.navegacion-principal a {
  display: block;
  text-align: center;
  color: var(--blanco);
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
}

.navegacion-principal a:hover {
  background-color: var(--primario);
  color: var(--oscuro);
}

/* encabezado (hero) */

.hero {
  background-image: url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  position: relative;
  margin-bottom: 2rem;
}

.contenido-hero {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contenido-hero h2,
.contenido-hero p {
  color: var(--blanco);
}

.contenido-hero .ubicacion {
  display: flex;
  align-items: flex-end;
}

/* Servicios */

/* scroll-snap - secciones donde se detiene el scroll */
.servicios, .navegacion-principal, .formulario, .footer {
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

@media (min-width: 768px) {
  .servicios {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
  }
}

.servicio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.servicio h3 {
  color: var(--secundario);
  font-weight: normal;
}
.servicio p {
    line-height: 2;
    text-align: center;
}
.servicio .iconos {
  height: 15rem;
  width: 15rem;
  background-color: var(--primario);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* Formulario de contacto */
.formulario {
  background-color: var(--gris);
  width: min(60rem, 100%); /* min utiliza el valor más pequeño */
  margin: 0 auto; /* centra formulario horizontalmente */
  padding: 2rem;
  border-radius: 1rem;
}

.formulario fieldset {
  border: none;
}

.formulario legend {
  text-align: center;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 2rem;
  color: var(--primario);
}

@media (min-width: 768px) {
  .contenedor-campos {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto 20rem;
    column-gap: 1rem
  }

  .campo:nth-child(3),
  .campo:nth-child(4){
    grid-column: 1 / 3;
  }
}

.campo {
  margin-bottom: 1rem;
}

.campo label {
  color: var(--blanco);
  font-weight: bold;
  margin-bottom: .5rem;
  display: block;
}

.campo textarea {
    height: 18rem;
}

.input-text {
  width: 100%;
  border: none;
  padding: 1.5rem;
  border-radius: .5rem;
}

.footer {
    text-align: center;
}
